/* css for the library app */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap');

body {
	background-color: #4d2600;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6em;
}

#main-container {
	height: 100%;
	width: 100%;
}

h1 {
	font-family: "Playwrite CL", cursive;
}

#book-container {
	width: 1000px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.aBook {
	width: 150px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: grey;
	box-shadow: 2px 2px 5px #686868;
	margin: 10px;
	padding: 10px;
}

table {
	text-align: left;
}

th {
	width: 50px;
}

td {
	overflow: hidden;
	white-space: nowrap;
	/* Don't forget this one */
	text-overflow: ellipsis;
}
